# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Streamlit Cache
.streamlit/secrets.toml

# Logs
*.log

# Keep output.csv but ignore other csv files if needed
*.csv
!output.csv

# Large cache files
cache/

# Python build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/



evaluation/